.btn.btn-light.disabled{
    opacity: 1;
    width: 70%;
    text-align: left;
}

#loption1.active{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

#loption2.active{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.sulogo {
  width: 5rem;
}

.title {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .sulogo {
    width: 4rem;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }

  .sulogo {
    width: 3rem;
  }
}
